body {
  margin: 10%;
}
.main {
  display: flex;
  justify-content: center;

}
.users {
  width: 100%;
  height: 100%;
  max-width: 960px;
}

div.fas.fa-search{
  gap: 10px;
  align-items: center;
  display: flex;
  max-width: 200px;
}

.tim-xep {
  display: flex;
  justify-content: space-between;
}
.tim-xep input {
  width: 100%;
  padding: 12px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.sap-xep {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  align-items: center;
  padding-left: 10px;
}
.sap-xep a {
  text-decoration: none;
}
.sap-xep span {
  padding: 10px;
  border-radius: 6px;
}
.sap-xep span:hover {
  background-color: #ccc;
  padding: 10px;
  border-radius: 6px;
}
.time {
  display: flex;
  justify-content: end;
  padding: 10px;
}
.time .sub-time {
  display: flex;
  gap: 20px;
  height: 25px; /* hàng dễ vỡ, đừng đụng vào height này */
}
.sub-time a {
  padding: 5px;
  text-decoration: none;
}
.sub-time a:hover {
  border-bottom: 1px solid rgb(216, 79, 79);
}
.trang-user {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.user {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.anh {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ccc;
}

.anh img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thongtin h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 22px;
}
.sidebar {
  padding: 20px;
}

/* .thongtin{
  
} */
.vi-tri,.theo-doi,.chuyen-nganh{
  padding-top: 5px;
}
